praw.ini
config.ini
lightweaver.db
__pycache__
.vscode
.pytest_cache
.mypy_cache
/tests/test.db
/tests/wrong_schema.db
venv
venv*
dist
src/RedditScanAndReplyBot.egg-info/
reddit_book_bot.code-workspace